/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Container do formulário */
form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* Estilo dos rótulos */
form label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #555;
}

/* Campos de entrada */
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

/* Botão de envio */
form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Mensagem */
p {
    text-align: center;
    font-size: 14px;
    color: #000000;
    margin-top: 344px;
    margin-left: -398px;
}

p a {
    text-decoration: none;
    color: #007bff;
}

p a:hover {
    text-decoration: underline;
}

/* Link de voltar */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
